@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

.container{
    position: relative;
    
    background-color: rgba(214, 214, 214, 0.247);
}
@keyframes load  {
    0%{
        transform: translate(0px,-2500px);
    }100%{

        transform: translate(0px,0px);
    }
}
.card{
    position: relative;
    transform: translate(0px,-2500px);
    transition: 1s;
    /* animation: load 1s forwards; */
    scale: 0.9;
    height: 500px;
    display: flex !important;
}
.active{
    transform: translate(0px,0px) !important;
}
.no-display{
    display: none !important;
}

.bg-glass{
    background-color: #ffffff5e !important;
}

.re-height{
    height: 390px !important;
}
@keyframes animateText1 {
    0%{
        transform: translate(0,10px);
    }40%{
        transform: translate(0,0px);
    }60%{
        transform: translate(0,-10px);
    }80%{
        transform: translate(0,0px);
    }
    100%{
        transform: translate(0,10px);
    }
}
.animate-text-1{
    animation: animateText1 3s linear infinite;
}





  
  .wush-animate {
    font-weight: 700;
    text-align: center;
    font-size: 15px;
    font-family: Hack, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(90deg, #858796, #fff, #858796);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
  }
  
  @keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }